header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

#filters {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 2em;
  position: relative; /* Needed for positioning the dropdowns relative to this container */
}

/* Estilo para o input de número */
input[type=number] {
  width: 200px; /* largura desejada */
  padding: 10px; /* espaçamento interno */
  border: 1px solid #ccc; /* borda */
  border-radius: 5px; /* arredondamento da borda */
  outline: none; /* remove o contorno quando focado */
  font-size: 16px; /* tamanho da fonte */
}

/* Estilo para quando o input está focado */
input[type=number]:focus {
  border-color: #007bff; /* cor da borda quando focado */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* sombra quando focado */
}


.dropdown-button {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
}

.submit {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    text-align: center;
}

#submit-button {
  justify-content: center;
  display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: calc(100% + 5px); /* Adjust the distance from the button as needed */
  }
  
.dropdown-content label {
    display: block;
    margin-bottom: 8px;
}

#category{
  max-height: 260%;
  overflow-y: auto;
}