header {
    background-color: #005A31;
    color: white;
    padding: 1em;
    text-align: center;
    font-family: 'Aladin';
    letter-spacing: 4px;
    font-size: 40px;
    height: 3em;
}

body {
    background-color: #F3FAB6;
}

#filter {
    display: flex;
    justify-content: center;
    margin: 5em;
    position: relative;
}

#filter button {
    font-family: 'Aladin';
    font-size: 22px;
    letter-spacing: 2px;
    background-color: #009929;
    color: #f5f649;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    height: 120%;
    width: 50%;
}

#filter button:hover {
    background-color: #333;
    color: white;
}

input[type=number] {
    width: 50%;
    height: 120%;
    padding: 10px;
    border: 3px solid #333;
    box-shadow: 0 0 2px rgba(#333, 0.5);
    border-radius: 5px;
    outline: none;
    font-size: 25px;
    font-family: 'Aladin';
    letter-spacing: 2px;
    text-align: center;
}

input[type=number]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(180deg, #d8ff7d, #f7fa3e);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: calc(100% + 5px);
    /* Adjust the distance from the button as needed */
}

#question-type label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#category {
    max-height: 260%;
    overflow-y: auto;
}

#category label {
    display: flex;
}